
.search:hover {
    transform: translateY(-5px);
}

input {
    border-radius: 5px;
    color: white;
    border: 2px  rgb(156, 190, 238) solid;
    opacity: 70%;
    width: 170px;
    height: 25px;
}

#dark {
    background-color:  #021e44;
}

#light {
    background-color:  #164990;
}

input::placeholder {
    color: white; /* Completely white color without opacity */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold; /* Makes the placeholder text bold */
    display: flex;
    text-align: center;

}
