.header {
    display: flex;
    justify-content: space-between; /* Pushes links and search bar to opposite sides */
    align-items: center; /* Vertically aligns items in the center */
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 350px;
    margin-right: 10px;
}


h1 {
    color: white;
}

.links {
    display: flex; 
    gap: 20px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;
}


