.city-bar {
    width: 300px;
    padding: 20px;
    color: white;
    height: 96%;
    position: fixed; /* Fix it to the left */
    top: 0;
    left: 0;
    z-index: 2;
}

.city-bar.dark {
    background-color: rgb(6, 42, 72);
}

.city-bar.light {
    background-color: rgb(47, 111, 167);
}











